<!DOCTYPE html>
<html>
  <head>
    <title>SofaBoarding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" property="og:description" content="Inspired by the travel social media site CouchSurfing, this site is to stay connected with friends and chat in real-time.">
    <meta name="author" content="Eyal Garbi">
    <meta name="image" property="og:image" content="<%= image_url('screenShot.png') %>">
  </head>

  <body>
    <% if signed_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    <script type="text/javascript">
      window.profile_pic = "<%= image_url('default_user.jpg') %>";
    </script>
    <%= yield %>
  </body>
</html>
